<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">   
     <!-- google charts ajax api -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 
  </head>
  <body>
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
            <!-- google charts API -->
    <script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});
    </script>
    <script type="text/javascript" src="/javascripts/js.js"></script>
    

  <div class="wrapper">

    {{{body}}}
  </div>
  </body>
</html>
